sidebar()
  width: 200px
  display: flex
  flex-direction: column
  padding: padding
  background-color: sidebar_bg

horizontal()
  grid-column: 1 / 4
  padding: padding
  background-color: header_bg
  color: header_color