@require('sidebar')

#left
  sidebar()
  gap: (padding / 2)
  a
    display: block
    font-size: base_font_size * 1.3rem
    padding: (padding / 2)
    background-color: header_color
    text-align: center
    &:hover
      background-color: header_bg