#left
  sidebar()
  display: flex
  flex-direction: column
  gap: 1rem
  a
    display: block
    font-size: base_font_size * 1.3rem
    padding: 1rem
    background-color: header_color
    text-align: center
    &:hover
      background-color: header_bg